<div class="my-container transparent-layer">
  <!--<ngx-loading [show]="loading" [loadingMessage]="loadingMessage"></ngx-loading>-->

  <div class="" style="margin-top: 40px; text-align: center;">
    <h4>
      How the Multiverse Duels Will Work
    </h4>

    <h5>Gaming Goals for SOMV Duels:</h5>
    <p>

      
      1. There will be no random hand draws. Like "chess", I hope to design a dueling game system that is complex enough that unique battles are achieved without the need for random card draws (However, there will be random damage which can decide very close duels)
      </p>
    <p>
      2. Gamestyle will consist a mix between Pokemon and Magic: The Gathering and a strict timer to force fast decision-making<br />
      <br />
    </p>

      Pending Round Flow in 3 Phases:<br /> (Moves are synonymous with Actions)
      <br /><br />
    <p class="phases">
      Initialization Phase: Each player announces which action is going to be performed (Default Actions are allowed here)<br />
      --program will give a 6 second timer to each player to pick an initial move, if they don't, it is forfeited--<br />
      Action Phase 1: A player may add an additional move for 1X the power cost (no default actions allowed)<br />
      --program will give both players a 3 second timer to pick a move--<br />
      Action Phase 2: A player may add an additional move for 2X the power cost<br />
      --program will give both players a 3 second timer to pick a move--<br />
      Action Phase zX: A player may add an additional move for zX times the power cost<br />
      --program will give both players a 3 second timer to pick a move--<br />
      Actions may be continued until both Sages run out of power or neither Sage makes a Move<br />
      (the actual multiplier is yet to be determined)<br />
      <br />
      During each phase, if a player chooses to play a move while the other doesn't, the player not playing a move will have a 3 second window to "respond"
      to the other player's action after it is revealed at the same multiplier for power cost.  <br />
      <br />
      To make things interesting certain actions may have a reduced cost for playing actions as "responses" as well as reduced costs for later action phases!
      <br /><br />
      Results Phase:<br />

      Calculations will be resolved in reverse order (ala Magic), meaning new power will usually be generated last.<br />
    </p>
    <p>
      3. Modes of Gameplay: 3 modes: 3/5/7 Universe cards. Users get to pick cards but keep them hidden, part of the strategy is to try and deduce the other Sage's strategy and counter appropriately.  There will be general rules of thumb for this, but very difficult given the uniqueness of everyone's cards.
      There will also be a Mode to adjust game timer
    </p>
    <p>
      4. Two ways to Win: The basic way is to damage the other Sage's <i>survival bubble</i>
      to the point it is broken and they die through the physics of the foreign Universe seeping in. (A <i>survival bubble</i> is a bubble that surrounds each Sage which keeps them alive by keeping the laws of physics in check that pertains to their survivability) However, players can also accumulate conceptual points of varying types (think of Honor like in Legend of the Five Rings, but slightly more complicated/interesting) in order
      to receive a conceptual victory where you simply overcome your opponent with pure knowledge of the Multiverse.
      <br />
    </p>
    <p>
      Miscellaneous:
      Since it is a multiverse game, beginning with the 1st round and every '3rd round' thereafter, a wildcard round will take place in a certain random Universe taken from each player's Universe collection.
      Whoever scores the most damage during this round, will have first pick of which Universe you fight the next round (Players will be able to tell by the background image which Universe they are in). Then the round after that the other player gets to pick.
      The stats from the Universe will be applied to BOTH Sages (certain Actions may inhibit this, or provide a Sage with more rounds to stay in the same Universe).

      The first few rounds will involve building up power with default actions,as well as some power actions to help slow the other Sage's progress down or speed your progress up.  
      Then it is about setting up mathematical combinations in a sly fashion to win the game by meeting a certain game-winning criteria on a card (accumulates through Concept points) 
      or reducing an opponent's survival bubble energy (i.e. HP) to zero.

    </p>
    <p>
      Unfortunately, given the magnitude of the project, programming the game component of it myself is not something I am willing to undertake until I'm either old, fat and retired, or I can get funding to either hire people or enable me
      to work on it myself without needing a full-time job.  Unfortunately, providing for my kid and I is the most important thing I have to do and figure out for now at this stage of my life!  (Stupid Economics and Reality!) :'/ ......
    </p>

    <br />
    <p>
      It goes without saying to that if anyone out there is willing to fund me some big bucks to make this game, they may take as big or as little part of the creative development as desired as well...
    </p>
      <h4 style="font-size: 1.2vw; border-width: .1vw; margin-top: 2vw;"><i>(Hint: Click any of the four SOMV logos in the corners to be redirected back to the homepage at any time)</i></h4>
</div>
</div>