<div class="my-container transparent-layer">
  <!--<ngx-loading [show]="loading" [loadingMessage]="loadingMessage"></ngx-loading>-->

  <div class="" style="margin-top: 50px; text-align: center;">
    <h4>
      About SOMV
    </h4>
    <p style="font-family: monospace; font-size: 1.4em; -webkit-text-stroke-width: 1px; padding: 1.2vw;">
      - Sage of the Multiverse (SOMV) © 2018 is "The Universe Trading Card App" where users take on the role as a "Sage of the Multiverse" where they 
      can create, manage, and edit their truly own Universe cards from various websites and API's.  The cards are set up with various statistics in mind
      as a basis for a future gameplay and game design. Once the game is built, SOMV will become "The Universe Trading Card <i>Game</i>" © 2018.
      </p>
    <br /><br />
      <h2>Only One Pre-Requisite in becoming a Sage...</h2>
      <br />

      <h4 style="font-size: 1.1vw; font-weight: 700; border-width: .1vw; margin-top: 1vw;"><i>The Multiverse says to you...</i></h4>

      <p>
      "There is only one requirement in order to bear the title, 'Sage of the Multiverse', and that is the ability to control one's own laws of physics."
    </p>
    <br />
    <h2>There is no "magic" in SOMV...</h2>
    <br />
    
    <p>
      "Instead of casting 'magic spells' at one another, Sages try to effactuate their own laws of
      physical reality on one another.  Think of it this way, what if your Einstein and Schrodinger came up with a 'Theory of Everything' that explains
      the birth of your Universe and thus the very laws of physics in which you are enslaved to?"
    </p>
    <h2 style="font-size: 1.0vw; font-weight: 700; border-width: .1vw; margin-top: 1vw; padding: 2vw; -webkit-text-fill-color: bisque;"><i>The Multiverse shudders at the thought of being enslaved to such
      a controlling and mathematical Universe such as ours...</i></h2>

    <h4 style="font-size: 1.1vw; font-weight: 700; border-width: .1vw; margin-top: .2vw;"><i>and then continues to speak...</i></h4>
    <p>
      "Wouldn't the next step be engineering this 'theory' to your advantage?
      Thus, breaking the shackles off your particular 'reality'?  That's what our Sages do.....they don't duel in attempts to create merely a better world. They
      duel in attempts to create better realities!"
    </p>

    <br />

    <!--
    <h4 style="font-size: 1.2vw; font-weight: 700; border-width: .1vw; margin-top: 0vw;"><i>The Multiverse continues to speak...</i></h4>
    <p>
      - As a 4th dimensional creature in a highly ordered and <i>controlling</i> Universe , you may be lead to believe that a heightened sense of what you call
      <i>mathematics</i> is fundamental in achieving this!  As some of your most prominent figures of understanding reality (i.e. theoretical physicists) may satirically criticize, "What else are you going to build a Universe with besides mathematics? Marshmallows?!"
      I may have something that may surprise them!
    </p>

    <h4 style="font-size: 1.2vw; cursor: pointer;" (click)="marshmallowModal()">A SpaceTime Bubble Pops Through The Generator (Click Here)....</h4>

    <p>
      Would it surprise you to say, that it does not matter <i>how</i> one achieves this goal? It may surprise you to learn that this goal is usually acheived
      by an internal, empirical process of evolution by most Sages without ever counting an integer. Granted that since most of these Sages do live in a higher dimensionality, your mathematics of describing their reality
      is redundant and so internalized in their make-up that they just 'know' all what your complicated equations you describe are just through pure perception.  However, this is where <i>I</i> come in to help you in overcoming
      these deficits my poor TimeLand creature.  My job is to dumb down all of their perceptions to your 4D reality through use of simple GUI's and cards so you can transverse the Multiverse with similar ease.
    </p>
      
    <p>
      Here is a little history of 4D Sages such as yourself....
    </p>
    <p>
      Without my help it is extraordinarily rare for a 4th Dimensional or lower being such as yourself to have access to the Multiverse.  The only 4D creature to arrive here without my help are
      known as Lightchasers and they have achieved this simply because entropy goes in reverse in their Universe compared to yours. They simply had to wait and survive their end of the Universe (What you call a "Big Crunch") to get here.
      </p>
    <p>
      However, since your species' Universe will end in what you call a "Big Freeze", I took pity on you for otherwise you shall never have such an opportunity to explore the Multiverse! So I decided to interfere to aid you by means of this app so one day you and your
      kind may be inspired to continue it's thirst for an ultimate understanding of everything through science and proper cultural development.  I even created a few favorite races from your most popular sci-fi here in the Multiverse known as "Fulcans"
      and "*Queue" as a reminder of a future idealization you may have for your species cultural development! (By contrast, Klingons I simply banished, none exist here in the Multiverse)
    </p>

    <p>
      ...Actually I fibbed you a little, there is one known human that has became a SOMV without my help, and he wnet by the name of "Cosimous". Cosimous lived in a parallel reality of your Universe, but in ancient times. Cosimous achieved the status of SOMV through building a device 
      which he called a <i>flux</i> which was an interface to control all your laws of physics to it's fundamental core. In turn it enabled him to abstractly "see" what most 5th dimensional Sages perceive through very sophisticated mathematics and engineering. 
      With luck, maybe your future scientists can acheive the same?  I sure hope so! I would very well love to see your species break the shackles of the random reality you were born. In the meantime, I hope my interference with your
      reality will help give you and your species the hope, awe and inspiration to achieve such a lofty goal! 
    </p>
          -->
    <p>"Finally, if you are having trouble with this application, feel free to download this 
    <a style="-webkit-text-fill-color: lime;" href="../../assets/downloads/SOMV-Quickstart-Guide.pdf" download>handy quickstart guide.</a>"</p>
    <br />
    <p>
      "And with that, I bid you luck, Sage of the Multiverse!"
    </p>


    <h4 style="font-size: .9vw; border-width: .1vw; margin-top: 2vw;">
      A Note From The Author</h4>
    <p style="-webkit-text-fill-color: burlywood; -webkit-text-stroke-width: .1px; -webkit-text-stroke-color: black;">
      <i>
        This app is dedicated to all of you hard-working physicists, philosophers, engineers, and all the other people who are like me that "just love to sit around and think about stuff..."
      </i>
    </p>
    <h4 style="font-size: .9vw; border-width: .1vw; margin-top: 3vw;"><i>(Hint: Click any of the four SOMV logos in the corners to be redirected back to the homepage at any time)</i></h4>
    <br />
  </div>
</div>
<!-- Universe Description Modal -->
<div id="universeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 999999;">
  <div class="modal-dialog modal-xl" role="document" id="bootstrap-override-modal-dialog">
    <div class="modal-content" style="background: none;">
      <div class="transparent-layer-modal universe-description-modal-phone" style="margin-top: 0vw; text-align: center;">
        <h3 style="margin-top: 1vw;">A Universe of Marshmallows</h3>
        <h4 style="margin-top: 5vw;">Description</h4>
        <p style="margin-top: 1vw; font-style: italic;">"A Universe that is filled with marshmallows all the way down to the Plank density."</p>
      </div>
    </div>
  </div>
</div>
<br /><br />
<!-- Universe Card Modal -->
  <div id="marshmallowModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="">
  <div class="modal-dialog modal-xl" role="document" id="bootstrap-override-modal-dialog" style="max-width: 90vw; margin:auto;">
    <div class="modal-content" style="background: none;">
      <div class="transparent-layer-modal-card" [style.background-image]="'url(../../assets/images/universe-cards/MarshmallowUniverse1.jpg)'">

        <div class="move-modal-bubble move-marshmallow-phone-bubble">
          <h3 class="title-bubble-one-modal move-marshmallow-phone-title">A Universe of Marshmallows</h3>
          <svg class="bubble-one-modal">
            <circle class="circle-one-modal" (click)="universeModal()" cx="7.9vw" cy="7.9vw" r="7.9vw" />
          </svg>
        </div>

        <br /><br />

        <div>
          <div class="transparent-layer-card-object phenomena-layer-object" style="background-color: rgba(0,0,0,0.5); border: 1vw solid rgba(0, 0, 0, .5); margin-top: -1vw;">
            <div class="row" style="margin-bottom: 1vw;">
              <div class="col-md-12">
                <h4 style="text-align: center;" class="collectionH4">Phenomena</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 move-phone">
                <h6 style="text-align: center;" class="collectionH6">Fudgey Goodness One</h6>
                <h6 style="text-align: center;" class="collectionH6">Fudgey Goodness Two</h6>
              </div>
              <div class="col-md-6 move-phone">
                <h6 style="text-align: center;" class="collectionH6">Fudgey Goodness Three</h6>
                <h6 style="text-align: center;" class="collectionH6" >Fudgey Goodness Four</h6>
              </div>
            </div>
            <div class="row" style="margin-top: 1vw;">
              <div class="col-md-12">
                <h5 style="text-align: center;" class="collectionH5">Ultimate Smore Goodness!</h5>
              </div>
            </div>
            <div class="row" style="margin-top: .2vw;">
              <div class="col-md-12">
                <h2 style="text-align: center; font-size: .8vw;" class="collectionH2">Estimated Energy Value: 999 (Destroy for 20% Refund Value)</h2>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
