
  <div id="myCarousel" class="carousel container slide">
    <div class="carousel-inner">
      <div class="mySlides active item one"></div>
      <div class="mySlides item two"></div>
      <div class="mySlides item three"></div>
      <div class="mySlides item four"></div>
      <div class="mySlides item five"></div>
      <div class="mySlides item six"></div>
      <div class="mySlides item seven"></div>
      <div class="mySlides item eight"></div>
      <div class="mySlides item nine"></div>
      <div class="mySlides item ten"></div>
    </div>
  </div>
<ng4-loading-spinner [template]="template" [threshold]="0000" [loadingText]="loadingMessage" [zIndex]="9999"> </ng4-loading-spinner>
  <app-top-banner></app-top-banner>

  <br /><br />

  <router-outlet></router-outlet><br /><br />
  <app-bottom-banner></app-bottom-banner>
  <!--<app-welcome-form></app-welcome-form>
  <app-apifetcher-form></app-apifetcher-form>-->
