<!--
<h2 style="text-align: center;">
  {{title}}
</h2>
    -->
<br />
<br /><br /><br />
<img class="mainLogo" style="display: block;margin: auto; width: 40%; margin-bottom: 60px;" src="../assets/images/logo/mainlogo3.png" alt="Logo">
<div style="text-align: center; color: white;">
  <!--<h4>If you already have experience as a Sage of the Multiverse, please click the "Login to Sage Account" button.  If not, please click the "Create Sage Account" button.</h4>-->
  <br />
  <button type="button" routerLink="/new-account" routerLinkActive="active">Create SOMV Account</button>
  <button type="button" routerLink="/login" routerLinkActive="active">Login to Account</button>

  <br /><br /><br />
  <!--
  <h5 style="font-style: italic; color: blue;margin: 40px;">
    *Disclaimer: This app is functioning without any styling for the sake of having something to show. I intend to have
    a more stylized rough-draft of this app up soon!!! Thank you for viewing my work in progress. - Anthony Walter (Programmer/Creator)
  </h5>
      
      -->





</div>