<div class="my-container transparent-layer">
  <!--<ngx-loading [show]="loading" [loadingMessage]="loadingMessage"></ngx-loading>-->

  <div class="" style="margin-top: 40px; text-align: center;">
    <h4>
      Developer's Log
    </h4>

    <h5>
      Currently on Backlog (Last updated 1/8/2017):
      <br /><br />
      <p> - Make Sure Faulty Universes are tagged in Database - Also consider disabling the edit button if this tag is on</p>
      <p> - Continue to try to find a CORS solution for the app without requiring browser extension - Also find a CORS solution for cellphone browsers, 
      if there is none, remember the intention is to turn this into a downloadable app which will circumvent this. If there is a browser solution, then make sure later pages 
      of generator is responsive enough to be usable on cell phones.</p>
      <p> - Stylize the Manage Universe Collection Page some more - Stylize the bubbles, make or get some rotating bubble .gifs and consider animating
      them to float around the view screen within reason. Consider making with the Universe Card partially visible inside the bubble
      as well. Stylize the Jump Buttons</p>
      <p> - Get ahead of time compilation to work - Reason why it is off because the css [override] isn't correctly overriding the default library css for
      the loading screen. This isn't a problem when --aot=false</p>
      <p> - Fix Loading Screen Rendering Issues - Sometimes the message is off-screen</p>

      <p> - Refactor Ugly Code - Some ugly code can still be found from when I was still experimenting with Angular</p>

      <p> - Find and Locate other bugs and other idiosyncracies - Add some more Unit Testing</p>
      <p> - Add some front-end form validation - This is low priority until I decide to release the app on some level. Until then I prefer not to bog down
      other users or myself with form validation semantics</p>
      <p> - Always try and make things look and feel better! - If anyone notices any bugs that needs squished, please contact me through the support developer page!</p>
      <br /><br />
    </h5>


    <h5>
      Long-term Goals:
      <br /><br />
      <p>
        - Find funding for more full-time development
      </p>
      <p>
        - Design and implement the PVP online duel portion
      </p>
      <p>
        - Design and implement an auction house and player trading venue
      </p>
      <p>
        - Develop a downloadable, front-end version of the app to sell on app-marketplaces such as Google Play or Steam
      </p>
      <p>
        - Make The App Profitable through a lucrative business model!
      </p>
        <br /><br />
</h5>
    <h4 style="font-size: 1.2vw; border-width: .1vw; margin-top: 2vw;"><i>(Hint: Click any of the four SOMV logos in the corners to be redirected back to the homepage at any time)</i></h4>
  </div>
</div>