<div style="text-align: center; margin-top: 3em; padding: 10vw;" class="my-container transparent-layer">
  <h4 style="text-align: center; margin-bottom: 30px;">
    The Multiverse says to you,
    </h4>
  <p style="text-align: center;">
    "Navigating the Multiverse can sure be tough at times!" <br /><br />
  </p>
    <p style="color: deepskyblue; font-family: monospace; font-size: 1.3em; text-align: center; margin-bottom: 2.5vw;">
      - Page not Found: Wrong URL -
    </p>
    <button type="button" routerLink="/welcome" routerLinkActive="active">Back</button>
</div>