<div class="my-container transparent-layer">
  <!--<ngx-loading [show]="loading" [loadingMessage]="loadingMessage"></ngx-loading>-->

  <div class="" style="margin-top: 40px; text-align: center;">
    <h4>
      Buy Account Energy
    </h4>

    <p>

      Unfortunately, account energy is not for sale until the application becomes released.  However, if you would like to hasten the development of this app,
      or more specifically, if you would like to have "The Universe Trading Card App" to ever become "The Universe Trading Card <i>Game</i>",
      please feel free to donate by clicking the Paypal button down below! 

    </p>
    <p>
      (The organization will show up as "Music Sales" - I used to be a pianist)
    </p>
    <form id="paypalForm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="JE8KBW23CMK2L">
      <input (click)="submitPaypalForm()" style="cursor: pointer;" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <br />
    <p>If you wish to contact me, you may do so by going to my partner site at <a href="http://www.netdoodler.com" target="_blank" style="-webkit-text-stroke-width: .05vw;
  -webkit-text-stroke-color: black; -webkit-text-fill-color: yellow;">NetDoodler</a> and then click on the "Contact" tab. Also, if you plan to donate $15 or more,
    send me a message with a copy of your transaction, and I'll give you a free downloadable copy of my 16-bit SNES'esque RPG game that is meant as a story-prequel about the only human ever to become
    a Sage of the Multiverse, "Cosimous". </p>
    <h4 style="font-size: 1.2vw; border-width: .1vw; margin-top: 2vw;"><i>(Hint: Click any of the four SOMV logos in the corners to be redirected back to the homepage at any time)</i></h4>
  </div>


</div>

